.myBoardsContainer {
	margin: 100px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.myBoardsContainer a {
	text-decoration: none;
}

.myBoard {
	width: 400px;
	height: 300px;
	margin: 25px;
	border-radius: 5px;
	transition: all 0.1s linear;
}

.myBoard:hover {
	box-shadow: 0 0 0 15px #f3f3f3;
	background: #f3f3f3;
}

.myBoard:hover .myBoardView {
	filter: brightness(0.9);
}

.myBoardView {
	background: #EFEFEF;
	height: 85%;
	border-radius: 7px;
	border: 1px solid transparent;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.1s linear;
}

.myBoardView .boardCoverImageContainer {
	width: 90%;
	height: 90%;
	margin: 0 auto;
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	overflow: hidden;
}

.myBoardView .boardCoverImage {
	width: 30%;
	height: 50%;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.myBoardView img {
	width: 100%;
	height: auto;
	border: 1px solid white;
}

.myBoardFooter {
	height: 15%;
	padding: 5px 25px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 1200px) {
	.myBoardsContainer {
		margin: 50px;
	}
	.myBoard {
		margin: 20px;
	}
}

@media (max-width: 940px) {
	.myBoardsContainer {
		justify-content: center;
	}
}

@media (max-width: 550px) {
	.myBoardsContainer {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.myBoard {
		margin: 15px auto;
		padding: 0;
		width: 80%;
	}
}




