.wider {
  width: 200px;
}

.deletePinButton {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}

.pinContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 75px auto 0;
  width: 90%;
}

.pinContainer a {
  margin: 30px;
  text-decoration: none;
  width: 15%;
}

.pinContainer .pin {
  border-radius: 5px;
  position: relative;
  transition: all 0.1s linear;
  width: 100%;
}

.pinContainer .pin:hover {
  background: #f3f3f3;
  box-shadow: 0 0 0 15px #f3f3f3;
  cursor: zoom-in;
}

.pinImage {
  border-radius: 10px;
  max-height: 80%;
  overflow: hidden;
}

.pinImage img {
  transition: all 0.1s linear;
  width: 100%;
}

.pinContainer .pin:hover img {
  filter: brightness(0.8);
}

@media (max-width: 670px) {
  .pinContainer a {
    margin: 15px;
    width: 25%;
  }
}

@media (max-width: 500px) {
  .pinContainer a {
    margin: 15px;
    width: 40%;
  }
}

@media (max-width: 350px) {
  .pinContainer a {
    margin: 15px;
    width: 90%;
  }
}
