.productBox {
	border-radius: 10px;
	text-align: left;
	break-inside: avoid;
	box-sizing: border-box;
	position: relative;
	font-size: 14px;
	transition: box-shadow 0.1s linear;
	box-shadow: 0 0 0 0 white;
    margin: 25px;
}

.productBox:hover {
	box-shadow: 0 0 0 10px #e8e8e8;
	background: #e8e8e8;
	cursor: zoom-in;
}

.saveIcon {
	position: absolute;
	height: 40px;
	top: 20px;
	right: 30px;
	opacity: 0;
}

.productBox:hover .saveIcon {
	opacity: 1;
}

.saveIcon:hover {
	cursor: pointer;
}

.productPic img {
	width: 100%;
	border-radius: 10px;
}

.productBox:hover .productPic img {
	filter: brightness(0.8);
}

.tagContainer {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: center;
	width: 85%;
	margin: 5px auto;
}

.productBox h1,.productPrice, .productDescription  {
	margin: 10px;
	color: #555555;
}

.productBox h1  {
	font-size: 1.4em;
	font-weight: bold;
}

.productPrice {
	font-size: 1.8em;
}

.productDescription {
	font-size: 1em;
}


@media (max-width: 400px) {
	.editPanel button {
		font-size: 0.8em;
	}
}


