.loginForm {
	width: 500px;
	height: 200px;
	margin: 200px auto;
	background: lightgrey;
	padding: 20px;
}

.loginForm .instructions {
	float: left;
	width: 45%;
	text-align: right;
}

.loginForm .formInput {
	float: right;
	width: 52%;
	text-align: left;
}

.loginForm .formInput input {
	outline: none;
	border: none;
}

.loginForm .formInput input:focus {
	border: 1px solid black;
}