.createNewBoardModal {
	background: white;
	border: 1px solid transparent;
	border-radius: 7px;
	height: 250px;
	margin: 300px auto;
	outline: none;
	width: 600px;
}

.Modal_CreateBoard_Header {
	align-items: center;
	border-bottom: 1px solid lightgrey;
	display: flex;
	height: 30%;
	justify-content: space-between;
	padding: 0 25px;
}

.Modal_CreateBoard_Input {
	align-items: center;
	border-bottom: 1px solid lightgrey;
	display: flex;
	height: 40%;
	justify-content: space-between;
	padding: 0 25px;
}

.Modal_CreateBoard_Input input {
	border: 1px solid lightgrey;
	border-radius: 5px;
	outline: none;
	padding: 12px;
	width: 70%;
}

.Modal_CreateBoard_Input input:focus {
	border: 1px solid rgb(181, 181, 181);
	box-shadow: rgba(0, 132, 255, 0.5) 0 0 0 4px;
}

.Modal_CreateBoard_Footer {
	align-items: center;
	display: flex;
	height: 30%;
	justify-content: flex-end;
	padding: 0 25px;
}

.Modal_CreateBoard_Footer button:first-child {
	margin-right: 15px;
}
