.tag {
	padding: 2px 10px;
	margin: 2px 3px;
	background: #848484;
	font-size: 0.8em;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}

@media (max-width: 600px) {
	.tag {
		font-size: 0.6em;
	}
}