.sideBarButton {
  font-family: "Montserrat", sans-serif;
  height: 30px;
  margin: 5px auto;
  position: relative;
  width: 90%;
}

.sideBarButton button {
  border: none;
  cursor: pointer;
  font-size: 1em;
  line-height: 30px;
  outline: none;
  width: 100%;
}

.sideBarButton__NotSelected button {
  background: lightgrey;
}

.sideBarButton__NotSelected button:hover {
  background: lightgrey;
}

.sideBarButton__Selected button {
  background: #797979;
}

.sideBarButton__Selected button:hover {
  background: #a5a5a5;
}

.filterBadge {
  background: darkslategrey;
  border: 1px solid black;
  border-radius: 25%;
  color: lightskyblue;
  display: inline-block;
  font-size: 0.7em;
  height: 16px;
  line-height: 16px;
  position: absolute;
  right: 7px;
  top: 7px;
  width: 16px;
}

@media (max-width: 600px) {
  .sideBarButton {
    width: 95%;
  }
  .sideBarButton button {
    text-align: left;
  }

}
