.sidebarContainer {
  font-size: 14px;
  margin-top: 80px;
  min-width: 200px;
  text-align: center;
  width: 12%;
}


@media (max-width: 600px) {
  .sidebarContainer {
    font-size: 10px;
    min-width: 100px;
  }
}
