.productBox {
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	break-inside: avoid;
	box-sizing: border-box;
	margin: 0 20px 20px 0;
}

.productPic img {
	width: 50%;
}

.editPanel {
	width: 100%;
	height: 30px;
	background: lightgrey;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	opacity: 0;
	transition: all 0.25s;
	border-bottom: 1px solid black;
	margin-top: 15px;
	line-height: 30px;
}

.editPanel button {
	margin: 0 5px;
	background: lightskyblue;
	border: none;
	outline: none;
	font-weight: bold;
}

.editPanel button:hover {
	background: #6ea7d1;
}

.productBox:hover .editPanel {
	opacity: 1;
}

.tagContainer {
	display: flex;
	justify-content: center;
	width: 70%;
	margin: 0 auto;
}

.productBox input, .productBox textarea{
	display: block;
	margin: 15px auto;
	border-radius: 5px;
	outline: none;
	width: 80%;
	padding: 5px 15px;
	border: 2px solid lightskyblue;
}

.optionalWarning {
	text-decoration: underline;
}

