.productBox {
	background: #e8e8e8;
	border-radius: 10px;
	text-align: left;
	break-inside: avoid;
	box-sizing: border-box;
	margin: 0 20px 20px 0;
}

/*Edit Mode Styles */

.optionalWarning {
	text-decoration: underline;
}

.productBox input, .productBox textarea{
	display: block;
	margin: 15px auto;
	border-radius: 7px;
	outline: none;
	width: 80%;
	padding: 5px 15px;
	background: #EFEFEF;
	border: 2px solid transparent;
	transition: all 0.2s;
}

.productBox input:focus, .productBox textarea:focus {
	border: 2px solid lightskyblue;
}

/*Regular Mode Styles */

.productPic img {
	width: 100%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.tagContainer {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: center;
	width: 85%;
	margin: 5px auto;
}

.productBox h1 {
	margin: 10px;
	font-size: 18px;
	color: #555555;
}

.productText {
	margin: 10px;
	color: #555555;
	font-size: 14px;
}
/*Edit Panel Styles */

.editPanel {
	width: 100%;
	height: 30px;
	background: lightgrey;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	opacity: 0;
	transition: all 0.25s;
	margin-top: 15px;
	line-height: 30px;
	text-align: center;
}

.editPanel button {
	margin: 0 5px;
	background: lightskyblue;
	border: none;
	outline: none;
	font-weight: bold;
}

.editPanel button:hover {
	background: #6ea7d1;
}

.productBox:hover .editPanel {
	opacity: 1;
}



