.sidebarContainer {
	width: 12%;
	min-width: 200px;
	text-align: center;
	margin-top: 80px;
	font-size: 14px;
}

.addNewContent {
	display: inline-block;
	background: #ffa390;
	box-shadow: 0 2px 2px lightgrey;
	padding: 8px 16px;
	border-radius: 5px;
	font-size: 1em;
	font-family: Arial, serif;
	color: darkslategrey;
	border: none;
	outline: none;
	cursor: pointer;
	margin: 30px auto 0 auto;
	transition: all 0.1s;
	letter-spacing: 1px;
}

.addNewContent:hover {
	background: #ff7763;
	box-shadow: 0 2px 2px grey;
	color: black;
}

@media (max-width: 600px) {
	.sidebarContainer {
		min-width: 150px;
	}
}

