.header {
  align-items: center;
  background: #ffffff;
  box-shadow: 0 2px 4px grey;
  display: flex;
  font-size: 14px;
  height: 70px;
  justify-content: space-between;
  padding: 0 60px;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  z-index: 2;
}

.header a {
  text-decoration: none;
}

.header__RegisterLink,
.header__BoardPinLink {
  border-radius: 30px;
  height: 40px;
  line-height: 40px;
  margin: 0 10px;
  position: relative;
  text-align: center;
  width: 130px;
  background: #efefef;
  box-sizing: border-box;
}

.header__headerLink_mobile {
  display: none;
}

.header__RegisterLink:hover,
.header__BoardPinLink:hover {
  background: #dfdfdf;
  cursor: pointer;
}

.header__headerLink_notification-boards,
.header__headerLink_notification-pins {
  align-items: center;
  background-color: #0084ff;
  border: 1px solid grey;
  border-radius: 50%;
  color: white;
  display: flex;
  font-size: 10px;
  font-weight: bold;
  height: 17px;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 17px;
}

.header__headerLink_notification-boards {
  right: 2px;
}

.header__headerLink_notification-pins {
  right: 14px;
}

@media (max-width: 1400px) {
  .header__headerLink_notification-boards {
    right: -5px;
  }
  .header__headerLink_notification-pins {
    right: 5px;
  }
}

@media (max-width: 1050px) {
  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .header__headerLink_desktop {
    display: none;
  }
  .header__headerLink_mobile {
    display: block;
  }
  .Modal {
    width: 70%;
  }
  .closeModalButton {
    font-size: 1.2em;
    padding: 5px 10px;
  }
  .headerSearchAddInput {
    margin: 0 0 0 30px;
    width: 30%;
  }
  .header__headerLink_notification-boards {
    right: 5px;
  }
  .header__headerLink_notification-pins {
    right: 15px;
  }
}

@media (max-width: 800px) {
  .header {
    padding: 0 30px;
  }
  .Modal {
    padding: 25px;
  }
  .closeModalButton {
    font-size: 1em;
    margin-top: 25px;
    padding: 5px 5px;
  }
  .headerSearchAddInput {
    margin: 0 20px;
    min-width: 200px;
    width: 20%;
  }
  .searchInput {
    height: 30px;
  }
}

@media (max-width: 560px) {
  .Modal {
    padding: 10px;
  }
  header {
    font-size: 5px;
    padding: 0 5px;
    height: 40px;
  }
  .header__BoardPinLink,
  .header__RegisterLink {
    margin: 0 5px 0 0;
    height: 30px;
    line-height: 30px;
  }

  .header__RegisterLink {
    width: 90px;
    padding: 0 3px;
  }
  .header__BoardPinLink {
    width: 70px;
  }
  .headerSearchAddInput {
    margin: 0 10px;
    min-width: 150px;
  }
  .header__headerLink_notification-boards {
    right: 0;
  }
  .header__headerLink_notification-pins {
    right: 10px;
  }
}

@media (max-width: 430px) {
  .header {
    padding:0 5px;
    margin: 0;
  }
  .header__BoardPinLink {
    width: 55px;
  }
  .closeModalButton {
    font-size: 0.8em;
    margin-left: 43%;
    margin-top: 10px;
    padding: 2px 5px;
  }
  .header__headerLink_notification-boards {
    right: -5px;
  }
  .header__headerLink_notification-pins {
    right: 5px;
  }
}
