.header {
	align-items: center;
	background: #ffffff;
	box-shadow: 0 2px 4px grey;
	box-sizing: border-box;
	display: flex;
	font-size: 14px;
	height: 70px;
	justify-content: space-between;
	padding: 0 60px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

.header a {
	text-decoration: none;
}

.header__headerLink {

	height: 40px;
	width:130px;
	text-align: center;
	line-height: 40px;
	border-radius: 30px;
}

.header__headerLink:hover {
	background: #EFEFEF;
}




@media (max-width: 1050px) {
	header {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
	.Modal {
		width: 70%;
	}
	.closeModalButton {
		font-size: 1.2em;
		padding: 5px 10px;
	}
	.headerSearchAddInput {
		margin: 0 0 0 30px;
		width: 30%;
	}
	.addNewContent {
		margin: 0 45px 0 0;
	}
}

@media (max-width: 780px) {
	.Modal {
		padding: 25px;
	}
	.closeModalButton {
		font-size: 1em;
		margin-top: 25px;
		padding: 5px 5px;
	}
	.headerSearchAddInput {
		margin: 0 20px;
		min-width: 200px;
		width: 20%;
	}
	.favoritesSummary {
		margin-right: 20px;
	}
	.addNewContent {
		display: none;
	}
	.searchInput {
		height: 30px;
	}
}

@media (max-width: 560px) {
	.Modal {
		padding: 10px;
	}
	header {
		font-size: 12px;
	}
	.headerSearchAddInput {
		margin: 0 10px;
		min-width: 150px;
	}
	.favoritesSummary {
		font-size: 1.2em;
	}
}

@media (max-width: 430px) {
	.closeModalButton {
		font-size: 0.8em;
		margin-left: 43%;
		margin-top: 10px;
		padding: 2px 5px;
	}
	.favoritesSummary {
		padding: 2px 5px 2px 50px;
	}
}

