a {
  text-decoration: none;
}


.homepage {
  display: flex;
  width: 95%;
  margin: 0 auto 100px auto;
  background-color: white;
  }

.Overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  overflow: hidden;
  z-index: 2;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.homepageLink {
  width: 110px;
  height: 40px;
  border-radius: 50px;
  margin: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
}


.homepageLink:hover {
  background: lightgrey;
}

.pinHeader {
  display: inline-block;
  margin: 20px 100px;
}




