a {
  text-decoration: none;
}

.homepage {
  background-color: white;
  display: flex;
  margin: 0 auto 100px auto;
  width: 95%;
}

.Overlay {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.homepageLink {
  align-items: center;
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  height: 40px;
  justify-content: space-evenly;
  margin: 30px;
  padding: 5px;
  width: 110px;
}

.homepageLink:hover {
  background: lightgrey;
}

.pinHeader {
  display: inline-block;
  margin: 20px 100px;
}
