.modalPin {
	background: white;
	border: none;
	border: 0;
	border-radius: 10px;
	display: flex;
	height: auto;
	justify-content: space-between;
	left: 50%;
	outline: none;
	overflow: hidden;
	padding: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
}

.modalPin_ProductSummary {
	border-right: 1px solid lightgrey;
	height: 100%;
	padding: 20px;
	text-align: center;
	width: 50%;
}

.modalPin_productPic {
	height: 70%;
	overflow: hidden;
}

.modalPin_productPic img {
	border-radius: 10px;
	height: 300px;
}

.modalPin_productDescription {
	cursor: pointer;
	height: 20%;
	margin: 0 auto;
	padding: 15px;
	text-align: center;
	width: 70%;
}

.modalPin_productDescriptionContainer {
	width: 100%;
	margin: 0 auto;
}

.modalPin_productDescription textarea {
	max-height: 30px;
	width: 100%;
}

.modalPin_productDescriptionEdit {
	cursor: pointer;
	display: inline-block;
	padding-right: 20px;
	float: right;
}

.modalPin_Boards {
	height: 100%;
	width: 50%;
}

.boardheading {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.board {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	height: 60px;
	justify-content: space-between;
	padding: 0 20px;
	width: 100%;
}

.board:hover,
.createBoardContainer:hover {
	background: #efefef;
	cursor: pointer;
}

.board img {
	border-radius: 5px;
	display: inline-block;
	height: 40px;
	width: 40px;
}

.board div {
	align-items: center;
	display: flex;
}

.board .boardTitle {
	color: #555555;
	font-family: apple-system, BlinkMacSystemFont, Segoe UI;
	font-weight: bold;
	padding-left: 10px;
}

.boardSaveButton {
	display: none;
}

.board:hover .boardSaveButton {
	display: inline;
}

.createBoardContainer {
	align-items: center;
	border-top: 1px solid lightgrey;
	display: flex;
	height: 70px;
	padding-left: 20px;
}

.createBoardContainer:active {
	border-bottom: 3px solid #8bd0ff;
	border-top: 3px solid #8bd0ff;
}

.createBoardContainer span {
	font-weight: bold;
	margin-left: 5px;
}

.createBoardInputContainer {
	border-bottom: 1px solid lightgrey;
	padding: 20px;
}

.createBoardInputContainer input {
	border: none;
	border-radius: 5px;
	height: 25px;
	margin-top: 10px;
	outline: none;
	padding-left: 5px;
	width: 100%;
}

.submitNewBoard {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	width: 100%;
}

@media (max-width: 1500px) {
	.modalPin {
		width: 60%;
	}
}

@media (max-width: 1000px) {
	.modalPin {
		flex-direction: column;
		align-items: center;
		padding: 20px;
		width: 50%;
	}

	.modalPin .closeModal {
		position: absolute;
		top: 15px;
		right: 15px;
	}

	.modalPin_ProductSummary {
		height: 60%;
		padding: 20px 20px 0 20px;
		width: 100%;
		border-right: none;
	}

	.modalPin_Boards {
		height: 100%;
		width: 100%;
	}

	.modalPin_productDescriptionContainer {
		width: 80%;
		margin: 0 auto;
	}

	.modalPin_productDescription {
		padding: 15px 15px 0 15px;
		width: 100%;
	}

	.boardheading {
		border-top: 1px solid lightgrey;
		margin-top: 25px;
		padding-top: 5px;
	}
}

@media (max-width: 800px) {
	.modalPin {
		width: 60%;
	}
}

@media (max-width: 500px) {
	.modalPin {
		width: 80%;
	}

	.modalPin_productPic img {
		height: 200px;
	}
}