.sideBarButton {
	width: 90%;
	margin: 5px auto;
	height: 30px;
	position: relative;
	font-family: 'Montserrat', sans-serif;
}

.sideBarButton button {
	width: 100%;
	line-height: 30px;
	font-size: 16px;
	border: none;
	outline: none;
	cursor: pointer;
}

.sideBarButton__NotSelected button {
	background: lightgrey;
}

.sideBarButton__NotSelected button:hover {
	background: #ababab;
}

.sideBarButton__Selected button {
	background: #ababab;
}

.sideBarButton__Selected button:hover {
	background: #808080;
}


.filterBadge {
	display: inline-block;
	border: 1px solid black;
	height: 16px;
	width: 16px;
	line-height: 16px;
	font-size: 13px;
	border-radius: 25%;
	background: darkslategrey;
	color: lightskyblue;
	position: absolute;
	top: 7px;
	right: 7px;
}

