.Modal {
	width: 40%;
	height: 80%;
	border-radius: 5%;
	overflow: hidden;
	border: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
	border: 0;
}

.ReactModal__Overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); 
	z-index: 4;
}

.ReactModal__Body--open {
	overflow: hidden;
}

.modal_ProductSummary {
	border: 1px solid black;
	width: 50%;
	height: 100%;
	text-align: center;
	padding: 10%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.modal_productDescription {
	width: 80%;
	float: left;
}

.modal_productDescription textarea {
	max-height: 50px;
	width: 100%;
}

.modal_productDescriptionEdit {
	display: inline-block;
}



.modal_Boards {
	border: 1px solid black;
	width: 50%;
	text-align: center;
	height: 100%;
}


