.productBox {
	background: #e8e8e8;
	border-radius: 10px;
	text-align: left;
	break-inside: avoid;
	page-break-inside: avoid;
	box-sizing: border-box;
	margin: 0 20px 20px 0;
	border: 1px solid transparent;
	position: relative;
	font-size: 14px;
}

/*Edit Mode Styles */

.optionalWarning {
	font-style: italic;
	text-align: center;
	margin-top: 15px;
	font-size: 1em;
}

.productBox input, .productBox textarea{
	display: block;
	margin: 15px auto;
	border-radius: 7px;
	outline: none;
	width: 80%;
	padding: 5px 15px;
	background: #f5f5f5;
	border: 2px solid transparent;
	transition: all 0.2s;
}

.productBox input:focus, .productBox textarea:focus {
	border: 2px solid lightskyblue;
}

/*Regular Mode Styles */

.Message {
	position: absolute;
	color: lightgrey;
	padding: 10px;
	font-size: 1.2em;
	font-weight: bold;
	top: 150px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	background: darkslategrey;
	animation-name: errorMessage;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}

@keyframes errorMessage {
	from { opacity: 1; }
	to { opacity: 0; }
}

.heartIcon {
	position: absolute;
	height: 40px;
	top: 20px;
	left: 30px;
	opacity: 0;
	transition: all 0.3s;
}

.productBox:hover .heartIcon {
	opacity: .7;
}

.favorited__heartIcon {
	opacity: 1;
	height: 50px;
	top: 15px;
	left: 25px;
}

.heartIcon:hover {
	height: 50px;
	top: 15px;
	left: 25px;
	cursor: pointer;
}

.productPic img {
	width: 100%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.tagContainer {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: center;
	width: 85%;
	margin: 5px auto;
}

.productBox h1,.productPrice, .productDescription  {
	margin: 10px;
	color: #555555;
}

.productBox h1  {
	font-size: 1.4em;
	font-weight: bold;
}

.productPrice {
	font-size: 1.8em;
}

.productDescription {
	font-size: 1em;
}
/*Edit Panel Styles */

.editPanel {
	font-family: Arial, serif;
	width: 100%;
	height: 30px;
	padding-bottom: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	line-height: 30px;
	text-align: center;
}

.editPanel button {
	margin: 0 10px;
	background: #ffa390;
	border: none;
	outline: none;
	padding: 2px 10px;
	border-radius: 5px;
	font-size: 1em;
	color: darkslategrey;
	box-shadow: 0 2px 2px lightgrey;
	cursor: pointer;
	letter-spacing: 1px;
	opacity: 0;
	transition: all 0.25s;
}

.productBox:hover button {
	opacity: 1;
}

.editPanel button:hover {
	background: #ff7763;
	box-shadow: 0 2px 2px grey;
	color: black;
}

.editPanel button.alwaysShow {
	opacity: 1;
}

@media (max-width: 400px) {
	.editPanel button {
		font-size: 0.8em;
	}
}


