.commentsContainerContainer {
	background: #EEEEEE;
	width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
}

.commentsContainer {
	width: 800px;
	height: 100%;
	background: #ffffff;
	margin: 50px auto;
	border-radius: 10px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

.commentsContainer .productSummary {
	width: 50%;
	height: 90%;
}

.productComments__toggleSaveProductModalButton {
	display: flex;
	justify-content: flex-end;
}


.commentsContainer .productImage {
	overflow: hidden;
	height: 70%;
	border-radius: 20px;
}

.commentsContainer .productImage img {
	width: 100%;
}

.commentsContainer .comments {
	width: 45%;
}

.commentsContainer .addCommentInput {
	width: 80%;
	margin-top: 25px;
	padding: 5px 10px;
	outline: none;
	border-radius: 10px;
	border: 1px solid lightgrey;
	resize: none;
}

.commentsContainer .addCommentInput:focus {
	border: 1px solid rgb(181,181,181);
	border-radius: 5px;
	box-shadow: rgba(0, 132, 255, 0.5) 0 0 0 4px;
	height: 80px;
}



.commentsContainer .commentBox {
	display: flex;
	width: 90%;
	align-items: start;
	flex-direction: column;
	padding-top: 20px;
}