.commentsContainerContainer {
  background: #eeeeee;
  min-height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.commentsContainer {
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 50px auto;
  padding: 20px;
  width: 800px;
}

.commentsContainer .productSummary {
  height: 90%;
  width: 50%;
}

.productComments__toggleSaveProductModalButton {
  display: flex;
  justify-content: flex-end;
}

.commentsContainer .productImage {
  border-radius: 20px;
  height: 70%;
  overflow: hidden;
}

.commentsContainer .productImage img {
  width: 100%;
}

.commentsContainer .comments {
  width: 45%;
}

.commentsContainer .addCommentInput {
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin-top: 25px;
  outline: none;
  padding: 5px 10px;
  resize: none;
  width: 80%;
}

.commentsContainer .addCommentInput:focus {
  border: 1px solid rgb(181, 181, 181);
  border-radius: 5px;
  box-shadow: rgba(0, 132, 255, 0.5) 0 0 0 4px;
  height: 80px;
}

.commentsContainer .commentBox {
  align-items: start;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  width: 90%;
}
